<template>
    <div>
        <h1>Create a contact</h1>

        <form enctype="multipart/form-data"
        @submit.prevent="addContact">
        <div class="form-group">
            <label for="name">Contact Name</label>
            <input name="name" type="text" class="form-control" id="name" placeholder="Enter contact name" v-model="contact.name">
        </div>
        <div class="form-group">
            <label for="phone">Contact Phone</label>
            <input name="phone" type="text" class="form-control" id="phone" placeholder="Enter contact phone" v-model="contact.phone">
        </div>
        <div class="form-group">
            <label for="email">Contact Email</label>
            <input name="email" type="email" class="form-control" id="email" placeholder="Enter contact email" v-model="contact.email">
        </div>
        <div class="form-group">
            <label for="address">Address</label>
            <input name="address" type="text" class="form-control" id="address" placeholder="Enter contact address" v-model="contact.address">
        </div>
        <div class="form-group">
            <label for="birthday">Birthday</label>
            <input name="birthday" type="date" class="form-control" id="birthday" v-model="contact.birthday">
        </div>
        <div class="custom-file mb-3">
            <label for="photo" class="custom-file-label">Choose file</label>
            <input type="file" name="photo" class="custom-file-input" id="photo" v-on:change="onImageChange">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                contact: {}
            }
        },
        methods: {
            onImageChange(e) {
                let files = e.target.files || e.dataTransfer.files;
                if (!files.length)
                    return;
                this.createImage(files[0]);
            },
            createImage(file) {
                let reader = new FileReader();
                let vm = this.contact;
                reader.onload = (e) => {
                    vm.photo = e.target.result;
                };
                reader.readAsDataURL(file);
            },
            addContact() {
                let uri = `${process.env.MIX_APP_URL}/api/contact/create`;
                axios.post(uri, this.contact).then((response) => {
                    this.$router.push({name: 'view'});
                });
            }
        }
    }
</script>