<template>
    <v-card>
        <v-card-title>
            Contacts
            <v-spacer></v-spacer>
            <v-text-field
                v-model="search"
                append-icon="mdi-magnify"
                label="Search"
                single-line
                hide-details></v-text-field>
        </v-card-title>
        <v-data-table
            :headers="headers"
            :items="contacts"
            :search="search"
            :items-per-page="5"
            class="elevation-1"
        >
            <template v-slot:item.photo="{ item }">
                <div class="p-2">
                    <v-avatar color="indigo">
                        <v-icon v-if="!item.photo" dark>mdi-account-circle</v-icon>
                        <img v-else src="item.photo" alt="AB">
                    </v-avatar>
                </div>
            </template>
        </v-data-table>
    </v-card>
</template>

<script>
    export default
    {
        data() {
            return {
                contact: {}
            }
        },
        created() {
            let uri = `${process.env.MIX_APP_URL}/api/contact/edit/${this.$route.params.id}`;
            axios.get(uri).then((response) => {
                this.contact = response.data;
            });
        },
        methods: {
            onImageChange(e) {
                let files = e.target.files || e.dataTransfer.files;
                if (!files.length)
                    return;
                this.createImage(files[0]);
            },
            createImage(file) {
                let reader = new FileReader();
                let vm = this.contact;
                reader.onload = (e) => {
                    vm.photo = e.target.result;
                };
                reader.readAsDataURL(file);
            },
            updateContact() {
                let uri = `${process.env.MIX_APP_URL}/api/contact/update/${this.$route.params.id}`;
                axios.post(uri, this.contact).then((response) => {
                    this.$router.push({name: 'view'});
                });
            }
        }
    }
</script>
