<template>
    <div>
        <h1>Changes</h1>

        <table class="table table-hover">
            <thead>
            <tr>
                <th>#</th>
                <th>Log</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(change, key) in changes.data" :key="change.id">
                <td>{{ key + 1 }}</td>
                <td>{{ change.log }}</td>
            </tr>
            </tbody>
        </table>
        <pagination class="justify-content-center" :data="changes" @pagination-change-page="getChanges"></pagination>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                changes: {}
            }
        },
        created() {
            this.getChanges();
        },
        methods: {
            getChanges(page = 1) {
                let uri = `${process.env.MIX_APP_URL}/api/changes?page=` + page;
                axios.get(uri).then(response => {
                    this.changes = response.data;
            });
        },
    }
    }
</script>