<template>
    <v-data-table
        :headers="headers"
        :items="contacts"
        :items-per-page="5"
        class="elevation-1"
    >
        <template v-slot:item.photo="{ item }">
            <div class="p-2">
                <v-avatar color="indigo">
                    <v-icon v-if="!item.photo" dark>mdi-account-circle</v-icon>
                    <v-img v-else :src="item.photo" alt="AB"></v-img>
                </v-avatar>
            </div>
        </template>
        <template v-slot:top>
            <v-toolbar flat color="white">
                <v-toolbar-title>Manage Contacts</v-toolbar-title>
                <v-divider
                    class="mx-4"
                    inset
                    vertical
                ></v-divider>
                <v-spacer></v-spacer>
                <v-dialog v-model="dialog" max-width="500px">
                    <template v-slot:activator="{ on }">
                        <v-btn color="primary" dark class="mb-2" v-on="on">New Contact</v-btn>
                    </template>
                    <v-card>
                        <v-card-title>
                            <span class="headline">{{ formTitle }}</span>
                        </v-card-title>

                        <v-card-text>
                            <v-container>
                                <v-row>
                                    <v-col cols="12" sm="6" md="4">
                                        <v-avatar
                                            color="indigo"
                                            size="100"
                                        >
                                            <v-icon v-if="!editedItem.photo" dark>mdi-account-circle</v-icon>
                                            <v-img v-else :src="editedItem.photo" alt="AB"></v-img>
                                        </v-avatar>
                                    </v-col>
                                    <v-col cols="12" sm="6" md="8">
                                        <v-text-field v-model="editedItem.name" label="Name"></v-text-field>
                                    </v-col>
                                    <v-col cols="12" sm="6" md="6">
                                        <v-text-field v-model="editedItem.phone" label="Phone"></v-text-field>
                                    </v-col>
                                    <v-col cols="12" sm="6" md="6">
                                        <v-text-field v-model="editedItem.email" label="Email"></v-text-field>
                                    </v-col>
                                    <v-col cols="12" sm="6" md="6">
                                        <v-dialog
                                            ref="dialog"
                                            v-model="modal"
                                            :return-value.sync="editedItem.birthday"
                                            persistent
                                            width="290px"
                                        >
                                            <template v-slot:activator="{ on }">
                                                <v-text-field
                                                    v-model="editedItem.birthday"
                                                    label="Birthday date"
                                                    prepend-icon="event"
                                                    readonly
                                                    v-on="on"
                                                ></v-text-field>
                                            </template>
                                            <v-date-picker v-model="editedItem.birthday" scrollable>
                                                <v-spacer></v-spacer>
                                                <v-btn text color="primary" @click="modal = false">Cancel</v-btn>
                                                <v-btn text color="primary" @click="$refs.dialog.save(editedItem.birthday)">OK</v-btn>
                                            </v-date-picker>
                                        </v-dialog>
                                    </v-col>
                                    <v-col cols="12" sm="6" md="6">
                                        <v-text-field v-model="editedItem.address" label="Address"></v-text-field>
                                    </v-col>
                                    <v-col cols="12">
                                        <v-file-input @change="onImageChange" prepend-icon="mdi-camera" accept="image/*" label="Photo"></v-file-input>
                                    </v-col>
                                </v-row>
                            </v-container>
                        </v-card-text>

                        <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn color="blue darken-1" text @click="close">Cancel</v-btn>
                            <v-btn color="blue darken-1" text @click="save">Save</v-btn>
                        </v-card-actions>
                    </v-card>
                </v-dialog>
            </v-toolbar>
        </template>
        <template v-slot:item.action="{ item }">
            <v-icon
                small
                class="mr-2"
                @click="editContact(item)"
            >
                mdi-pencil
            </v-icon>
            <v-icon
                small
                @click="deleteContact(item)"
            >
                mdi-delete
            </v-icon>
        </template>
        <template v-slot:no-data>
            <v-btn color="primary" @click="getContacts">Reset</v-btn>
        </template>
    </v-data-table>
</template>

<script>
    export default {
        data() {
            return {
                dialog: false,
                modal: false,
                headers: [
                    {
                        text: 'Photo',
                        value: 'photo',
                        sortable: false,
                    },
                    {
                        text: 'Name',
                        value: 'name'
                    },
                    {
                        text: 'Email',
                        value: 'email'
                    },
                    {
                        text: 'Birthday',
                        value: 'birthday'
                    },
                    {
                        text: 'Address',
                        value: 'address'
                    },
                    {
                        text: 'Actions',
                        value: 'action',
                        sortable: false
                    }
                ],
                contacts: [],
                editedIndex: -1,
                editedItem: {
                    name: '',
                    phone: '',
                    email: '',
                    birthday: '1994-09-01',
                    address: '',
                    photo: ''
                },
                defaultItem: {
                    name: '',
                    phone: '',
                    email: '',
                    birthday: '1994-09-01',
                    address: '',
                    photo: ''
                },
            }
        },
        created() {
            this.getContacts();
        },
        computed: {
            formTitle() {
                return this.editedIndex === -1 ? 'New Contact' : 'Edit Contact'
            },
        },
        methods: {
            onImageChange(e) {
                let files = e;
                if (!files) {
                    return;
                }
                this.createImage(files);
            },
            createImage(file) {
                let reader = new FileReader();
                let vm = this.editedItem;
                reader.onload = (e) => {
                    vm.photo = e.target.result;
                };
                reader.readAsDataURL(file);
            },
            getContacts(page = 1) {
                let uri = `${process.env.MIX_APP_URL}/api/contacts?page=` + page;
                axios.get(uri).then(response => {
                    this.contacts = response.data.data;
                });
            },
            deleteContact(item) {
                let uri = `${process.env.MIX_APP_URL}/api/contact/delete/${item.id}`;
                axios.delete(uri).then(response => {
                    this.contacts.splice(this.contacts.indexOf(item), 1);
                });
            },
            editContact(item) {
                this.editedIndex = this.contacts.indexOf(item)
                this.editedItem = Object.assign({}, item)
                this.dialog = true
            },
            close() {
                this.dialog = false
                setTimeout(() => {
                    this.editedItem = Object.assign({}, this.defaultItem)
                    this.editedIndex = -1
                }, 300)
            },
            save() {
                if (this.editedIndex > -1) {
                    Object.assign(this.contacts[this.editedIndex], this.editedItem)
                    let uri = `${process.env.MIX_APP_URL}/api/contact/update/${this.editedItem.id}`;
                    axios.post(uri, this.editedItem).then((response) => {
                        this.close()
                    });
                } else {
                    this.contacts.push(this.editedItem)
                    let uri = `${process.env.MIX_APP_URL}/api/contact/create`;
                    axios.post(uri, this.editedItem).then((response) => {
                        this.close()
                    });
                }
            },
        }
    }
</script>
