<template>
    <v-card>
        <v-card-title>
            Contacts
            <v-spacer></v-spacer>
            <v-text-field
                v-model="search"
                append-icon="mdi-magnify"
                label="Search"
                single-line
                hide-details></v-text-field>
        </v-card-title>
        <v-data-table
            :headers="headers"
            :items="contacts"
            :search="search"
            :items-per-page="5"
            class="elevation-1"
        >
            <template v-slot:item.photo="{ item }">
                <div class="p-2">
                    <v-avatar color="indigo">
                        <v-icon v-if="!item.photo" dark>mdi-account-circle</v-icon>
                        <v-img v-else :src="item.photo" alt="AB"></v-img>
                    </v-avatar>
                </div>
            </template>
        </v-data-table>
    </v-card>
</template>

<script>
    export default {
        data() {
            return {
                search: '',
                headers: [
                    {
                      text: 'Photo',
                      value: 'photo',
                      sortable: false,
                    },
                    {
                        text: 'Name',
                        value: 'name'
                    },
                    {
                        text: 'Email',
                        value: 'email'
                    },
                    {
                        text: 'Birthday',
                        value: 'birthday'
                    },
                    {
                        text: 'Address',
                        value: 'address'
                    }
                ],
                contacts: []
            }
        },
        created() {
            this.getContacts();
        },
        methods: {
            getContacts(page = 1) {
                let uri = `${process.env.MIX_APP_URL}/api/contacts?page=` + page;
                axios.get(uri).then(response => {
                    this.contacts = response.data.data;
                });
            },
        }
    }
</script>
